# Frontend Environment Variables
VITE_API_URL=https://resume-ai-eight-beta.vercel.app

# Backend Environment Variables
MONGODB_URI=mongodb://127.0.0.1:27017/resume_builder
JWT_SECRET=your-secret-key-here
PORT=3002
